<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head', { title: 'Welcome Page' }) %>
  <body>
    <!-- Navbar -->
    <%- include('../components/navbar') %>

    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Update form</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="modalForm" action="" method="post">
            <div class="modal-body my-3" id="outputBody">Loading...</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Insert Modal -->
    <div
      class="modal fade"
      id="insertModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="insertModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="insertModalTitle">Insert Form</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form id="insertModalForm" action="" method="post">
            <div class="modal-body my-3" id="insertFormBody">Loading...</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="container"><%- body %></div>
    <%- include('../components/footer') %>
    <!-- jQuery first, then Bootstrap Bundle JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Include DataTables JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#usersTable").DataTable(); // Initialize DataTables on the users table
      });
    </script>
    <script>
      $(".loadForm").on("click", function () {
        const id = $(this).val();
        const key = $(this).attr("data-key");

        // load form
        $.ajax({
          type: "POST",
          url: `/find/content`,
          data: {
            id,
            key,
          },
          success: function (response) {
            let outputBody = "";

            if (response.status == 200 && response.key == "teams") {
              const teamData = response.findContent;
              outputBody = `
         
            <div class="mb-3">
              <label for="teamName" class="form-label">Team Name</label>
              <input type="text" class="form-control" id="teamName" name="teamName" value="${teamData.teamName}" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="${teamData.email}" required>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="image" name="image" value="${teamData.image}">
            </div>
           
           
        `;
              $("#modalForm").attr("action", `/update/teams/${teamData._id}`);
            } else if (response.status == 200 && response.key == "members") {
              const memberData = response.findContent;
              outputBody = `
         
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="${memberData.name}" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="${memberData.email}" required>
            </div>
            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input type="text" class="form-control" id="mobile" name="mobile" value="${memberData.mobile}" required>
            </div>
            <div class="mb-3">
              <label for="team" class="form-label">Team</label>
              <input type="text" class="form-control" id="team" name="team" value="${memberData.team}">
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="image" name="image" value="${memberData.image}">
            </div>
            
            
        `;
              $("#modalForm").attr(
                "action",
                `/update/members/${memberData._id}`
              );
            }

            if (outputBody === "") {
              outputBody = `<div class="alert alert-danger">No data found!</div>`;
            }

            $("#outputBody").html(outputBody);
          },
        });
      });
    </script>

    <script>
      $("#loadInsertModal").on("click", function () {
        const key = $(this).attr("data-key");

        let output = "";
        if (key == "teams") {
          output = `
          <div class="mb-3">
              <label for="teamName" class="form-label">Team Name</label>
              <input type="text" class="form-control" id="teamName" name="teamName" value="" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="description" class="form-control" id="description" name="description" value="" required>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="image" name="image" value="">
            </div>
          `;
          $("#insertModalForm").attr("action", `/insert/team`);
        } else if (key == "members") {
          output = ` <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="" required>
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" name="department" value="">
          </div>
          <div class="mb-3">
            <label for="session" class="form-label">Session</label>
            <input type="text" class="form-control" id="session" name="session" value="">
          </div>
          <div class="mb-3">
            <label for="linkedin" class="form-label">LinkedIn</label>
            <input type="url" class="form-control" id="linkedin" name="linkedin" value="">
          </div>
          <div class="mb-3">
            <label for="orcid" class="form-label">ORCID</label>
            <input type="text" class="form-control" id="orcid" name="orcid" value="">
          </div>
          <div class="mb-3">
            <label for="team" class="form-label">Team</label>
            <select class="form-control" id="team" name="team" required>
               <% if (typeof teams !== "undefined" && teams.length > 0) { %>
                <% teams.forEach(team => { %>
                  <option value="<%= team._id %>"><%= team.teamName %></option>
                <% }) %>
              <% } else { %>
                <option disabled>No teams available</option>
              <% } %>
            </select>
          </div>
         <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select class="form-control" id="role" name="role" required>
            <option value="Leader">Leader</option>
            <option value="Junior Leader">Junior Leader</option>
            <option value="Member">Member</option>
          </select>
        </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image" name="image" value="">
          </div>`;
          $("#insertModalForm").attr("action", `/insert/member`);
        }
        if (output === "") {
          output = `<div class="alert alert-danger">No data found!</div>`;
        }

        $("#insertFormBody").html(output);
      });
    </script>
  </body>
</html>
